body {
  background-image: url("https://hdwallsource.com/img/2014/4/colorful-backgrounds-18963-19451-hd-wallpapers.jpg");
  font-family: arial, helvetica, sans-serif;
  color: white;
}

.header {
  text-align: left;
}

p {
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 0% 40%;

}

.footer {
}
